name: Test deployment

on:
  pull_request:
    paths:
      - "website/**"
      - ".github/workflows/test-deploy.yaml"
    branches:
      - main

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: 
          cache-dependency-path: website/package-lock.json

      - name: Install dependencies
        working-directory: website
        run: yarn install --frozen-lockfile
      - name: Build website
        working-directory: website
        run: yarn build